<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body id="page-top" class="{{ if .Site.Params.theme_dark_variant }}black-theme{{ end }}">
        {{ if or .Site.Params.navigation.links.star .Site.Params.navigation.links.interprets .Site.Params.navigation.links.program .Site.Params.navigation.links.contact }}
            {{ partial "nav.html" . }}
        {{ end }}

        {{ if .Site.Params.intro }}
            {{ partial "intro.html" . }}
        {{ end }}

        {{ if .Site.Params.interprets.list }}
            {{ partial "interprets.html" . }}
        {{ end }}

        {{ if .Site.Data.projects }}
            {{ partial "program.html" . }}
        {{ end }}

        {{ if .Site.Params.location }}
            {{ partial "location.html" . }}
        {{ end }}

        {{ if .Site.Params.tickets }}
            {{ partial "tickets.html" . }}
        {{ end }}

        {{ if .Site.Params.star }}
            {{ partial "star.html" . }}
        {{ end }}

        {{ if .Site.Data.projects }}
            {{ partial "modals.html" . }}
        {{ end }}

        {{ if .Site.Params.tickets }}
            {{ partial "tickets-modal.html" . }}
        {{ end }}

        {{ partial "js.html" . }}
    </body>
</html>
