{{ "<!-- HEADER -->" | safeHTML }}
<header>
    <div class="header-content">
        <div class="header-content-inner">
            {{ with .Site.Params.intro.slogan }}
                <h1 id="main-caption">{{ . | markdownify  }}</h1>
            {{ end }}
            <table id="countdown">
        	    <tr>
        		  <td id="days_val" class="days val">-</td>
        		  <td id="hours_val" class="hours val">-</td>
        		  <td id="minutes_val" class="minutes val">-</td>
        		  <td id="seconds_val" class="seconds val">-</td>
        		</tr>
        		<tr>
        		  <td class="days tit">DAYS</td>
        		  <td class="hours tit">HOURS</td>
        		  <td class="minutes tit">MINUTES</td>
        		  <td class="seconds tit">SECONDS</td>
        		</tr>
        	  </table>
        </div>
    </div>
    <div id="header-bottom-info">
      {{ .Site.Params.intro.date }} <span class="collapsed-span"> | </span><div id="count-down-box"><div class="t-box" id="days_inline_val"></div><small>d</small> <div class="t-box" id="hours_inline_val"></div>:<div class="t-box" id="minutes_inline_val"></div>:<div class="t-box" id="seconds_inline_val"></div>
      </div>
    </div>
    <script type="text/javascript">
      function countdown(){
        var d = new Date();
        var endTime = parseInt("{{ .Site.Params.intro.unix_timestam_counter }}");
        var now = d.getTime();
        time = endTime - now;

        var sec = Math.ceil((time / 1000) % 60);
        var min = Math.ceil((time / (1000 * 60)) % 60);
        var hours = Math.ceil((time / (1000 * 60 * 60)) % 24);
        var days = Math.ceil((time / (1000 * 60 * 60 * 24)));

        document.getElementById('days_val').innerHTML = days;
        document.getElementById('hours_val').innerHTML = hours;
        document.getElementById('minutes_val').innerHTML = min;
        document.getElementById('seconds_val').innerHTML = sec;

        document.getElementById('days_inline_val').innerHTML = pad(days, 2);
        document.getElementById('hours_inline_val').innerHTML = pad(hours, 2);
        document.getElementById('minutes_inline_val').innerHTML = pad(min, 2);
        document.getElementById('seconds_inline_val').innerHTML = pad(sec, 2);
      }

      function pad(num, size) {
          var s = num+"";
          while (s.length < size) s = "0" + s;
          return s;
      }

      countdown();
      setInterval(countdown, 1000);
    </script>
</header>
