{{ if and .Site.Params.location.latitude .Site.Params.location.longitude }}
<section id="location" class="no-padding bg-dark">
    {{ with .Site.Params.location.headline }}
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{{ . }}</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
    {{ end }}
    {{ with .Site.Params.location.description }}
      <div class="centered-content">
        <p class="text-faded">Tvým primárním cílem je nádherné lázešké město Karlovy Vary. Pokud nejedeš autem, tak nejlepší možnost je:
        <a target="_blank" href="https://shop.flixbus.cz/search?departureCity=40de1ad1-8646-11e6-9066-549f350fcb0c&arrivalCity=40e093e7-8646-11e6-9066-549f350fcb0c&route=Praha-Karlovy+Vary&rideDate=28.07.2023&adult=1&_locale=cs&features%5Bfeature.enable_distribusion%5D=1&features%5Bfeature.train_cities_only%5D=0&features%5Bfeature.darken_page%5D=1&atb_pdid=c7036225-cfc7-4f1c-b65d-a1e27aaf7443&_sp=aa7c3915-e1dc-47af-bf6e-88eb4ac5b9a0&_spnuid=1123d445-7e33-4ff9-aaad-e68b503544f2">FlixBus</a>,
        <a target="_blank" href="https://www.blablacar.cz/search?fn=Praha%2C%20%C4%8Cesko&tn=Karlovy%20Vary%2C%20%C4%8Cesko&db=2023-07-28&seats=1&search_origin=HOME&from_place_id=eyJpIjoiQ2hJSmkzbHdDWnlUQzBjUmtFQVdaZy12QUFRIiwicCI6MSwidiI6MSwidCI6W119&to_place_id=eyJpIjoiQ2hJSlEwMnBYVUNab0VjUjBESFVRNHF2U3lnIiwicCI6MSwidiI6MSwidCI6W119">BlaBlaCar</a>,
        <a target="_blank" href="https://regiojet.cz/?departureDate=2023-07-28&tariffs=REGULAR&fromLocationId=17797000&fromLocationType=STATION&toLocationId=17902023&toLocationType=STATION">RegioJet</a>
        <br>Ne vlakem. Ikdyž to láká cesta k nám je vlakem pekelně dlouhá.
        </p>
        <p class="text-faded">
          Dále pak bude fajn, když se ti povede přiblížit alespoň na zastávku:
          <a target="_blank" href="https://mapy.cz/zakladni?x=12.8730498&y=50.2539939&z=18&source=pubt&id=15279791">Otovice, pošta</a> a to nejsnáz autobusem
          <a target="_blank" href="https://mapy.cz/zakladni?x=12.8690641&y=50.2308157&z=18&source=pubt&id=15700059">č.19 ze zastávky tržnice</a>.
        </p>
        <p class="text-faded">Pak už jen pěšky přes kopec a jsi tu.</p>
      </div>
    {{ end }}
    <iframe
      id="google-map"
      width="100%"
      height="600"
      frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/place?key={{ .Site.Params.location.maps_api_key }}&q={{ .Site.Params.location.latitude }},{{ .Site.Params.location.longitude }}&zoom=12&maptype=satellite" allowfullscreen>
    </iframe>
</section>
{{ end }}
