{{ if and .Site.Params.location.latitude .Site.Params.location.longitude }}
<section id="location" class="no-padding bg-dark">
    {{ with .Site.Params.location.headline }}
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{{ . }}</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
    {{ end }}
    {{ with .Site.Params.location.description }}
      <div class="centered-content">
        <p class="text-faded">Tvým primárním cílem je nádherné lázešké město Karlovy Vary. Pokud nejedeš autem, tak nejlepší možnost je:
        <a target="_blank" href="https://shop.flixbus.cz/search?departureCity=40de1ad1-8646-11e6-9066-549f350fcb0c&arrivalCity=40e093e7-8646-11e6-9066-549f350fcb0c&route=Praha-Karlovy+Vary&rideDate=25.07.2025&adult=1&_locale=cs&departureCountryCode=CZ&arrivalCountryCode=CZ&features%5Bfeature.enable_distribusion%5D=1&features%5Bfeature.train_cities_only%5D=0&features%5Bfeature.auto_update_disabled%5D=0&features%5Bfeature.webc_search_us_veterans_promoted%5D=0&features%5Bfeature.webc_search_no_stations_limit%5D=0&features%5Bfeature.webc_station_search%5D=1&features%5Bfeature.darken_page%5D=1&atb_pdid=87554cca-2a3d-4c40-a385-845bafc6054c&_sp=8d5a542e-58e1-4487-a23a-80baf14774e3&_spnuid=7de3e1e3-3551-4d06-bfec-d671318b7dfc_1744984116555">FlixBus</a>,
        <a target="_blank" href="https://www.blablacar.cz/search?fn=Praha%2C+%C4%8Cesko&tn=Karlovy+Vary%2C+%C4%8Cesko&db=2025-07-25&seats=1&search_origin=HOME&from_place_id=eyJpIjoiQ2hJSmkzbHdDWnlUQzBjUmtFQVdaZy12QUFRIiwicCI6MSwidiI6MSwidCI6WzRdfQ%3D%3D&to_place_id=eyJpIjoiQ2hJSlEwMnBYVUNab0VjUjBESFVRNHF2U3lnIiwicCI6MSwidiI6MSwidCI6WzRdfQ%3D%3D">BlaBlaCar</a>,
        <a target="_blank" href="https://regiojet.cz/?departureDate=2025-07-25&tariffs=REGULAR&fromLocationId=10204003&fromLocationType=STATION&toLocationId=17902023&toLocationType=STATION">RegioJet</a>
        <br>Ne vlakem. Ikdyž to láká cesta k nám je vlakem pekelně dlouhá.
        </p>
        <p class="text-faded">
          Dále pak bude fajn, když se ti povede přiblížit alespoň na zastávku:
          <a target="_blank" href="https://mapy.com/en/zakladni?source=pubt&id=15279791&timeboard=%7B%22l%22%3A%22425019%22%2C%22d%22%3A1%2C%22v%22%3A%7B%22from%22%3A%222025-04-18T00%3A00%3A00%2B02%3A00%22%2C%22to%22%3A%222025-05-19T00%3A00%3A00%2B02%3A00%22%7D%7D&x=12.8738861&y=50.2540131&z=17">Otovice, pošta</a> a to nejsnáz autobusem
          <a target="_blank" href="https://mapy.com/en/zakladni?source=pubt&id=26552999&timeboard=%7B%22l%22%3A%22425019%22%2C%22d%22%3A1%2C%22v%22%3A%7B%22from%22%3A%222025-04-18T00%3A00%3A00%2B02%3A00%22%2C%22to%22%3A%222025-05-19T00%3A00%3A00%2B02%3A00%22%7D%7D&x=12.8695679&y=50.2309914&z=17">č.19 ze zastávky tržnice</a>.
        </p>
        <p class="text-faded">Pak už jen pěšky přes kopec a jsi tu.</p>
      </div>
    {{ end }}
    <iframe
      id="google-map"
      width="100%"
      height="600"
      frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/place?key={{ .Site.Params.location.maps_api_key }}&q={{ .Site.Params.location.latitude }},{{ .Site.Params.location.longitude }}&zoom=12&maptype=satellite" allowfullscreen>
    </iframe>
</section>
{{ end }}
