{{ "<!-- ABOUT -->" | safeHTML }}
<section class="bg-primary" id="star">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                {{ with .Site.Params.star.headline }}
                    <h2 class="section-heading text-faded">{{ . }}</h2>
                {{ end }}
                {{ if and .Site.Params.star.headline .Site.Params.star.description }}
                    <hr class="light">
                {{ end }}
                {{ with .Site.Params.star.description }}
                    <p class="text-faded">{{ . | markdownify }}</p>
                {{ end }}
                {{ with .Site.Params.star.buttonText }}
                    <a href="#" class="btn btn-default btn-xl">{{ . }}</a>
                {{ end }}
            </div>
        </div>
        <div class="row">
          {{ if .Site.Params.star.phone }}
            <div class="col-lg-4 col-lg-offset-2 text-center text-faded">
                <i class="fa fa-phone fa-3x wow bounceIn"></i>
                <p class="text-faded">{{ .Site.Params.star.phone }}</p>
            </div>
          {{ end }}
          {{ if .Site.Params.star.email }}
            <div class="col-lg-4 col-lg-inset-2 text-center text-faded">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p><a id="mail-link" class="text-faded" href="mailto:{{ .Site.Params.contact.email }}"><span>{{ .Site.Params.star.email }}</span></a></p>
            </div>
          {{ end }}
        </div>
    </div>
</section>
